Flask==1.1.2
flask-restful
flasgger
flashtext
google-api-python-client==1.12.1
google-auth-httplib2
google-auth-oauthlib
gunicorn
jsonschema
oauth2client
opil==1.0b3.post2
pymongo
pyspellchecker
python-docx
python-Levenshtein
python-magic
requests_oauthlib
sbol2
sbol3==1.0a6
six==1.13.0
tenacity
transcriptic==9.1.0
tyto==1.0a4
