Flask==1.1.2
flask-restful
flashtext
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
jsonschema
opil==1.0a4
pymongo
pyspellchecker
python-docx
python-Levenshtein
python-magic
requests_oauthlib
sbol2
sbol3
tenacity
transcriptic

